name: GitHub Actions Demo

on: [push]


jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v4

      - run: docker compose build house-price-prediction

      - run: docker tag house-price-prediction ${{ secrets.DOCKER_USERNAME }}/embarqueml

      - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      - run: docker push ${{ secrets.DOCKER_USERNAME }}/embarqueml

      - run: | 
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.VM_LOGIN }} >> ~/.ssh/known_hosts
      
      - run: ssh ubuntu@${{ secrets.VM_LOGIN }} "docker compose pull ${{ secrets.DOCKER_USERNAME }}/embarqueml"

      # - run: "(re)start container" gznfapoeiz